<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Mecatrónica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" size-md="6" size-xs="12" *ngFor="let empresa of meca">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>TSU || {{empresa.tsu}}</ion-card-subtitle>
            <ion-card-title>{{empresa.empresa}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p style="color: black;">Proyecto:</p>{{empresa.proyecto}} <br>
            <p style="color: black;">Dirección de la empresa:</p>{{empresa.direccion}} <br>
            <p style="color: black;">Perfil del estudiante:</p>{{empresa.perfil}} <br>
            <p style="color: black;">Apoyo: </p>{{empresa.apoyo}} <br>
            <p style="color: black;">Comentarios</p>{{empresa.comentarios}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <hr>

  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" size-md="6" size-xs="12" *ngFor="let empresa of mecaIng">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>ING || {{empresa.ing}}</ion-card-subtitle>
            <ion-card-title>{{empresa.empresa}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p style="color: black;">Proyecto:</p>{{empresa.proyecto}} <br>
            <p style="color: black;">Dirección de la empresa:</p>{{empresa.direccion}} <br>
            <p style="color: black;">Perfil del estudiante:</p>{{empresa.perfil}} <br>
            <p style="color: black;">Apoyo: </p>{{empresa.apoyo}} <br>
            <p style="color: black;">Comentarios</p>{{empresa.comentarios}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
