<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Catálogo de proyectos para estadías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col size-lg="6">
        <div class="card" routerLink="/gastro">
          <div>
            <img src="../../../assets/gastro.png" style="zoom: .5" alt="">
          </div>
          <div class="card-text">
            <span class="date">Hace 4 días</span>
            <h2>Gastronomía</h2>
            <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
          </div>
          <div class="card-stats">
            <div class="stat">
              <div class="value">{{conteoIngGa}}<sup>+</sup></div>
              <div class="type">empresas</div>
            </div>
            <div class="stat border">
              <div class="value">{{conteoIngGa}}<sup>+</sup></div>
              <div class="type">solicitudes</div>
            </div>
            <div class="stat">
              <div class="value">{{conteoIngGa}}<sup>+</sup></div>
              <div class="type">áreas</div>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size-sm="12" sizeLg="6">
        <div class="card" routerLink="/des" >
          <div>
            <img src="../../../assets/des.png" style="zoom: .5" alt="">
          </div>
          <div class="card-text">
            <span class="date">Hace 4 días</span>
            <h2>Desarrollo de negocios</h2>
            <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
          </div>
          <div class="card-stats">
            <div class="stat">
              <div class="value">{{conteoDe}}<sup>+</sup></div>
              <div class="type">empresas</div>
            </div>
            <div class="stat border">
              <div class="value">{{conteoDe}}<sup>+</sup></div>
              <div class="type">solicitudes</div>
            </div>
            <div class="stat">
              <div class="value">{{conteoDe}}<sup>+</sup></div>
              <div class="type">áreas</div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="6">
        <div class="card" routerLink="/ti">
          <div>
            <img src="../../../assets/ti.png" style="zoom: .5" alt="">
          </div>
          <div class="card-text">
            <span class="date">Hace 4 días</span>
            <h2>Tecnologías</h2>
            <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
          </div>
          <div class="card-stats">
            <div class="stat">
              <div class="value">{{teTsu}}<sup>+</sup></div>
              <div class="type">empresas</div>
            </div>
            <div class="stat border">
              <div class="value">{{teTsu}}<sup>+</sup></div>
              <div class="type">solicitudes</div>
            </div>
            <div class="stat">
              <div class="value">{{teTsu}}<sup>+</sup></div>
              <div class="type">áreas</div>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size-sm="12" sizeLg="6">
        <div class="card" routerLink="/meca" >
          <div>
            <img src="../../../assets/meca.png" style="zoom: .5" alt="">
          </div>
          <div class="card-text">
            <span class="date">Hace 4 días</span>
            <h2>Mecatrónica</h2>
            <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
          </div>
          <div class="card-stats">
            <div class="stat">
              <div class="value">{{conteoMe}}<sup>+</sup></div>
              <div class="type">empresas</div>
            </div>
            <div class="stat border">
              <div class="value">{{conteoMe}}<sup>+</sup></div>
              <div class="type">solicitudes</div>
            </div>
            <div class="stat">
              <div class="value">{{conteoMe}}<sup>+</sup></div>
              <div class="type">áreas</div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="6">
        <div class="card" routerLink="/moda">
          <div>
            <img src="../../../assets/ut.png" style="zoom: .5" alt="">
          </div>
          <div class="card-text">
            <span class="date">Hace 4 días</span>
            <h2>Modas</h2>
            <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
          </div>
          <div class="card-stats">
            <div class="stat">
              <div class="value">{{conteoMo}}<sup>+</sup></div>
              <div class="type">empresas</div>
            </div>
            <div class="stat border">
              <div class="value">{{conteoMo}}<sup>+</sup></div>
              <div class="type">solicitudes</div>
            </div>
            <div class="stat">
              <div class="value">{{conteoMo}}<sup>+</sup></div>
              <div class="type">áreas</div>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col size-sm="12" sizeLg="6">
        <div class="card" routerLink="/agricultura">
          <div>
            <img src="../../../assets/agri.png" style="zoom: .5" alt="">
          </div>
          <div class="card-text">
            <span class="date">Hace 4 días</span>
            <h2>Agricultura sustentable y protegida</h2>
            <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
          </div>
          <div class="card-stats">
            <div class="stat">
              <div class="value">{{agrTsu}}<sup>+</sup></div>
              <div class="type">empresas</div>
            </div>
            <div class="stat border">
              <div class="value">{{agrTsu}}<sup>+</sup></div>
              <div class="type">solicitudes</div>
            </div>
            <div class="stat">
              <div class="value">{{agrTsu}}<sup>+</sup></div>
              <div class="type">áreas</div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-lg="6">
        <div class="card" routerLink="/energias" >
          <div>
            <img src="../../../assets/energias.png" style="zoom: .5" alt="">
          </div>
          <div class="card-text">
            <span class="date">Hace 4 días</span>
            <h2>Energías renovables</h2>
            <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
          </div>
          <div class="card-stats">
            <div class="stat">
              <div class="value">{{eneTsu}}<sup>+</sup></div>
              <div class="type">empresas</div>
            </div>
            <div class="stat border">
              <div class="value">{{eneTsu}}<sup>+</sup></div>
              <div class="type">solicitudes</div>
            </div>
            <div class="stat">
              <div class="value">{{eneTsu}}<sup>+</sup></div>
              <div class="type">áreas</div>
            </div>
          </div>
        </div>
      </ion-col>
      
    </ion-row>
  </ion-grid>

</ion-content>

