.card {
    // display: grid;
    // grid-template-columns: 300px;
    // grid-template-rows: 210px 210px 80px;
    // grid-template-areas: "image" "text" "stats";
  
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
}

.tarjeta{
  border-radius: 18px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);;
}

.card-image {
    grid-area: image;
  }
  .card-text {
    grid-area: text;
  }
  .card-stats {
    grid-area: stats; 
}

// .card-image {
//     grid-area: image;
//     background: url("../../../assets/ut.png");
//     border-top-left-radius: 15px;
//     border-top-right-radius: 15px;
//     background-size: cover;
// }

.card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text .date {
    color: #3DA061;
    font-size:13px;
  }
  .card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
}

.card-stats {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #6FA36B;
}

.card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    color: white;
    padding:10px;
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card{
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
}