<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Solicitud de estudiantes de estadías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <div class="ut" id="indice">
    <img class="utimg" src="../../../assets/ut.png">
  </div>

  <div class="info">
    <ion-card>
      <ion-card-content style="color: black;">
        OBJETIVO: CONTAR CON INFORMACIÓN DE EMPRESAS O INSTITUCIONES  INTERESADAS EN RECIBIR ESTUDIANTES DE ESTADÍAS.
        LA SOLICITUD TIENE UNA VIGENCIA DE 4 MESES, SE PUEDE SER ENVIADA LAS VECES QUE SE REQUIERA.
      </ion-card-content>
    </ion-card>
  </div>

  <div class="formu">
    <form [formGroup]="formulario" (ngSubmit)="enviar()">
      <ion-card class="tarj">
        <ion-item class="inp">
          <ion-label position="stacked">Correo</ion-label>
          <ion-input type="email" formControlName="correo"></ion-input>
        </ion-item>
      </ion-card>

      <ion-card class="tarj">
        <ion-item class="inp">
          <ion-label position="stacked">Nombre de la empresa, asociación, institución</ion-label>
          <ion-input type="text" formControlName="empresa"></ion-input>
        </ion-item>
      </ion-card>
      
      <ion-card class="tarj">
        <ion-item class="inp">
          <ion-label position="stacked">Nombre del contacto</ion-label>
          <ion-input type="text" formControlName="contacto"></ion-input>
        </ion-item>
      </ion-card>

      <ion-card class="tarj">
        <ion-item class="inp">
          <ion-label position="stacked">Puesto o cargo del contacto</ion-label>
          <ion-input type="text"formControlName="puesto"></ion-input>
        </ion-item>
      </ion-card>
      
      <ion-card class="tarj">
        <ion-item class="inp">
          <ion-label position="stacked">Teléfono del contacto</ion-label>
          <ion-input type="number" formControlName="telefono"></ion-input>
        </ion-item>
      </ion-card>
      
      <ion-card class="tarj">
        <ion-item class="inp">
          <ion-label position="stacked">Correo electronico del contacto</ion-label>
          <ion-input type="email" formControlName="correoCon"></ion-input>
        </ion-item>
      </ion-card>

      <ion-card class="tarj">
        <ion-item class="inp">
          <ion-label position="stacked">Dirección del lugar donde se llevarán a cabo las prácticas profesionales (calle, número, colonia, municipio, estado, país)</ion-label>
          <ion-input type="text" formControlName="direccion"></ion-input>
        </ion-item>
      </ion-card>

      <ion-card class="tarj">
        <ion-item class="inp">
          <ion-label position="stacked">Necesidad o proyecto a desarrollar por los estudiantes de estadías (mencionar los proyectos que se tengan disponibles)</ion-label>
          <ion-input type="text" formControlName="proyecto"></ion-input>
        </ion-item>
      </ion-card>

      <ion-card class="tarj">
        <ion-item class="inp">
          <ion-label>Programa Educativo Tecnico Superior Universitario:</ion-label>
          <ion-select formControlName="tsu" multiple="true" cancelText="Cancelar" okText="Ok">
            <ion-select-option value="Desarrollo de negocios">Desarrollo de negocios</ion-select-option>
            <ion-select-option value="Gastronomía">Gastronomía</ion-select-option>
            <ion-select-option value="Mecatrónica">Mecatrónica</ion-select-option>
            <ion-select-option value="Tecnologías de la información">Tecnologías de la información</ion-select-option>
            <ion-select-option value="Energías renovables">Energías renovables</ion-select-option>
            <ion-select-option value="Diseño y moda industrial">Diseño y moda industrial</ion-select-option>
            <ion-select-option value="Agricultura sustentable y protegida">Agricultura sustentable y protegida</ion-select-option>
            <ion-select-option value="Procesos alimentarios">Procesos alimentarios</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card>
      
      <ion-card class="tarj">
        <ion-item class="inp">
          <ion-label>Programa Educativo Ingeniería/Licenciatura</ion-label>
          <ion-select formControlName="ing" multiple="true" cancelText="Cancelar" okText="Ok">
            <ion-select-option value="Mecatrónica">Mecatrónica</ion-select-option>
            <ion-select-option value="Diseño textil y moda">Diseño textil y moda</ion-select-option>
            <ion-select-option value="Gastronomía">Gastronomía</ion-select-option>
            <ion-select-option value="Innovación de negocios y mercadotecnia">Innovación de negocios y mercadotecnia</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card>

      <ion-card class="tarj">
        <ion-item class="inp">
          <ion-label position="stacked">Perfil del estudiante</ion-label>
          <ion-input type="text" formControlName="perfil"></ion-input>
        </ion-item>
      </ion-card>

      <ion-card class="tarj">
        <ion-item class="inp">
          <ion-label position="stacked">En caso de brindar algún apoyo mencionarlo</ion-label>
          <ion-input type="text" formControlName="apoyo"></ion-input>
        </ion-item>
      </ion-card>

      <ion-card class="tarj">
        <ion-item class="inp">
          <ion-label position="stacked">Comentarios generales</ion-label>
          <ion-input type="text" formControlName="comentarios"></ion-input>
        </ion-item>
      </ion-card>

      <br><br>

      <ion-row>
        <ion-col size="6">
          <ion-button (click)="limpiarForm()" expand="full" fill="outline" color="success" >Limpiar</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button type="submit" expand="full" color="success" [disabled]="formulario.invalid" >Enviar</ion-button>
        </ion-col>
      </ion-row>
      
      <br><br><br>
      
    </form>
  </div>

</ion-content>
