.formu{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.ut{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.utimg{
    padding-top: 5%;
}

.tarj{
    height: 90px;
}

.inp{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 7px;
}

.info{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}