<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Concentrado empresas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" size-md="6" size-xs="12" *ngFor="let empresa of empresas">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{empresa.empresa}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <strong>Correo empresa:</strong> {{empresa.correo}} <br>
            <strong>Contacto:</strong> {{empresa.contacto}} <br>
            <strong>Puesto del contacto:</strong> {{empresa.puesto}} <br>
            <strong>Telefono contacto:</strong> {{empresa.telefono}} <br>
            <strong>Correo contacto:</strong> {{empresa.correoCon}} <br>
            <strong>Direccion:</strong> {{empresa.direccion}} <br>
            <strong>Proyecto:</strong> {{empresa.proyecto}} <br>
            <strong>Programa TSU:</strong> {{empresa.tsu}} <br>
            <strong>Programa ING:</strong> {{empresa.ing}} <br>
            <strong>Perfil:</strong> {{empresa.perfil}} <br>
            <strong>Apoyo:</strong> {{empresa.apoyo}} <br>
            <strong>Comentarios:</strong> {{empresa.comentarios}} <br>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div>
    <ion-button (click)="exportExcel()" expand="block" fill="clear" shape="round">Generar excel</ion-button>
    <table id="season-table">
      <tr>
        <th>Correo de la empresa</th>
        <th>Nombre del contacto</th>
        <th>Puesto del contacto</th>
        <th>Telefono del contacto</th>
        <th>Correo del contacto</th>
        <th>Dirección de la empresa</th>
        <th>Proyecto a realizar</th>
        <th>Programa educativo TSU</th>
        <th>Programa educativo ING</th>
        <th>Perfil del estudiante</th>
        <th>En caso de brindar algún apoyo mencionarlo</th>
        <th>Comentarios generales</th>
      </tr>
      <tr *ngFor="let empresa of empresas">
        <td>{{empresa.correo}}</td>
        <td>{{empresa.contacto}}</td>
        <td>{{empresa.puesto}}</td>
        <td>{{empresa.telefono}}</td>
        <td>{{empresa.correoCon}}</td>
        <td>{{empresa.direccion}}</td>
        <td>{{empresa.proyecto}}</td>
        <td>{{empresa.tsu}}</td>
        <td>{{empresa.ing}}</td>
        <td>{{empresa.perfil}}</td>
        <td>{{empresa.apoyo}}</td>
        <td>{{empresa.comentarios}}</td>
      </tr>
    </table>
  </div>

</ion-content>
