<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">
      Gestión de Estadías Profesionales de la UTVCO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-grid fixed style="margin-top: 5%;">
    <ion-row>

      <ion-col size-lg="4">
        <ion-card class="blog-card3 spring-fever3" (click)="presentAlert()">
          <div style="margin-top: 55%; background-color: white;">
          <h3>PERSONAL UTVCO</h3>
          <hr>
          <div>Presiona para visualizar</div>
          </div>
          <div class="gradient-overlay"></div>
          <div class="color-overlay"></div>
        </ion-card>
      </ion-col>

      <ion-col size-lg="4">
        <ion-card class="blog-card2 spring-fever2" routerLink="/formulario">
          <div class="title-content">
          <!-- <h3>REGISTRA TU EMPRESA</h3> -->
          <img src="../../assets/ut.png" style="height: 100px;">
          <h6 style="color: black;">Universidad Tecnológica de los Valles Centrales de Oaxaca</h6>
          <h2 style="color: black;">CONVOCA</h2>
          <h6 style="color: black;">A empresas o dependencias interesadas en recibir estudiantes de:</h6>
          </div>
          <div class="verde">
            <h4 class="ache">ESTADÍA PROFESIONAL</h4>
          </div>
          <h6 style="color: rgb(9, 108, 105);">ENERO-ABRIL 2023</h6>
          <h6 style="color: black;">Presiona aquí para registrarte</h6>
          <div class="gradient-overlay"></div>
          <div class="color-overlay"></div>
        </ion-card>
      </ion-col>

      <ion-col size-sm="12" sizeLg="4">
        <ion-card class="blog-card spring-fever" routerLink="/carreras">
          <div style="margin-top: 55%; background-color: white;">
          <h3>ESTUDIANTES</h3>
          <hr>
          <div >Presiona para ver las opciones de empresas</div>
          </div>
          <div class="gradient-overlay"></div>
          <div class="color-overlay"></div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <div class="blog-card1 spring-fever" routerLink="carreras">
    <div class="title-content">
      <h3>ESTUDIANTES</h3>
      <hr />
      <div class="intro">Presiona para ver las empresas disponibles</div>
    </div>
    <div class="card-info">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. 
    </div>
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
  </div> -->

</ion-content>